nav {
	background: #ddd;
	font-size: 1.5rem;
}

nav a {
	display: inline-block;
	color: #444;
	text-decoration: none;
	padding: 0.25rem 0.5rem;
	border-left: 1px solid #ccc;
}

nav a:first-of-type {
	background-color: black;
	color: white;
	border-left: none;
}

nav a:hover {
	text-decoration: underline;
}

nav a[active] {
	color: black;
}