#item_webResult {
	display: none;
}

.gs-per-result-labels {
	display: none;
}

.gsc-tabHeader {
	font-size: 1.2rem;
	font-weight: normal !important;
}

.gsc-result {
	padding: 5px 0 !important;
}

.gs-url {
	color: green;
}

.gsc-control-cse,
.gsc-result,
.gsc-tabHeader {
	background: transparent !important;
	border: none !important;
}

.gsc-tabHeader.gsc-tabhActive {
	background: white !important;
	border: 1px solid #ccc !important;
	border-bottom-color: #eee !important;
}
