article {
	display: flex;
	flex-flow: row wrap;
	color: #555;
	border: 1px solid #eee;
	box-shadow: 0 1px 1px #ddd;
	padding: 1rem;
	border-radius: 1px;
}

article ol {
	position: relative;
	left: -1em;
	max-height: 25em;
	overflow-y: auto;
}

article .image-container {
	display: block;
	padding-left: 10px;
	max-width: 25%;
}

article .image-container img {
	max-width: 100%;
}

article .metadata-container {
	flex: 1;
}

article [itemprop=url] {
	font-size: 1.5rem;
	text-decoration: none;
	color: black;
}

article [itemprop=url]:hover {
	text-decoration: underline;
}

article [itemprop=description] {
	color: gray;
	opacity: 0.1;
}

article [itemprop=description]:hover {
	opacity: 1.0;
}

article object[itemprop="embedUrl"] {
	width: 100%;
}