body {
	font-size: 1.2rem;
}

h1 {
	padding: 0 15px;
	margin: 0;
	font-family: sans-serif;
}

header {
	margin-bottom: 10px;
	font-size: 120%;
}

main {
	display: flex;
	flex-flow: row wrap;
}

main > div {
	flex: 1;
}

main > ol {
	flex: 4;
	margin: 0 10px;
	font: 1rem "Gill Sans", sans-serif;
}

pre {
	max-width: 50em;
	overflow-x: auto;
	max-height: 20em;
	overflow-y: auto;
}

#album_webResult {
	display: none;
}

.gs-per-result-labels {
	display: none;
}