body {
	font-size: 1.2rem;
}

h1 {
	padding: 0 15px;
	margin: 0;
	font-family: sans-serif;
}

header {
	margin-bottom: 10px;
	font-size: 120%;
}

pre {
	max-width: 50em;
	overflow-x: auto;
	max-height: 20em;
	overflow-y: auto;
}

#album_webResult {
	display: none;
}

.gs-per-result-labels {
	display: none;
}

.gs-result > div {
	display: inline-block;
	vertical-align: top;
}

.gs-result .metadata-container {
	width: 30rem;
	max-width: 100%;
	margin-right: 1rem;
}