article {
	display: flex;
	flex-flow: row wrap;
	color: #333;
}

article ol {
	position: relative;
	left: -1em;
}

article .metadata-container {
	padding: 10px 20px;
}

article .image-container {
	padding: 10px 0;
}

article .image-container img {
	max-width: 100%;
}

article .metadata-container {
	flex: 1;
}

article [itemprop=url] {
	font-size: 1.5rem;
	text-decoration: none;
	color: black;
}

article [itemprop=url]:hover {
	text-decoration: underline;
}

article [itemprop=description] {
	color: gray;
}
