header {
	margin-bottom: 1rem;
}

.rating-percent {
	display: inline-block;
	color: white;
	background: rgb(105, 180, 120);
	font-size: 12px;
	border-radius: 3em;
	width: 3em;
	line-height: 3em;
	vertical-align: middle;
	text-align: center;
	float: left;
	margin: 0 1em 1em 0;
}